<settings>
  <category label="General">
    <setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" />
    <setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="default" type="number" label="Default View" default="500" enable="!eq(-1,false)"/>
	<setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="false"/>
  </category>  
</settings>